# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# IDE
.idea/
*.iml
*.iws
*.ipr
out/
.vscode/

# JavaFX
target/

# Logs
*.log
*.csv

# OS
.DS_Store
Thumbs.db

# Class files
*.class
bin/
